input, button{
	display: inline;
	font-size: 24px;
	padding: 4px 0;
	float: left;
}
input.query{
	height: 33px;
	width: 80%;
	padding-left: 4px;
}
button.go{
	width: 18%;
	float: right;
}

#results{
	margin: 1em 0;
}
div, form{
	display: block;
	clear: both;
}

a.black{
	color: #000f1f;
}