*{margin: 0; padding: 0; box-sizing: border-box;}
body{
	font-family: 'Open Sans', 'Arial', sans-serif;
	width: 95%;
	margin: 1em auto;
}

h1, h2, p {
	margin-bottom: 0.3em;
}
hr{
	margin: 1em 0;
}

h1{
	line-height: 1.5em;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: #04a;
}

#results{
	min-height: 2em;
}

header{
	margin: 2em 0;
}

.logo
{
	float: left;
	height: 128px;
	margin: 0 2em 1em 0;
}

nav ul
{
	list-style-type: none;
}

.example
{
	cursor: pointer;
}

@media(max-width: 767px){
	.logo
	{
		float: none;
		clear: both;
		margin: 0 auto;
		display: block;
	}
	h1
	{
		text-align: center;
	}
}